<!DOCTYPE html>
<html>
<head>
<style> 
body
{
background:url(OpenRoadUSA.jpg);
background-size:640px 480px;
background-repeat:no-repeat;
padding-top:40px;
}
</style>
</head>
<body>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
</p>

<p>Original image: <img src="OpenRoadUSA.jpg" alt="Flowers" width="224" height="162"></p>

</body>
</html>
